src/main/resources/match.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="match.pltracker.com"
           targetNamespace="match.pltracker.com" elementFormDefault="qualified">

    <xs:element name="getMatchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="homeTeam" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMatchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="matchDetails" type="tns:matchDetails"
                            maxOccurs = "unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllMatchesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllMatchesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="matchDetails" type="tns:matchDetails"
                            maxOccurs = "unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="createMatchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="matchDetails" type="tns:matchDetails" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createMatchResponse">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="matchDetails">
        <xs:sequence>
            <xs:element name="match_id" type="xs:long" />
            <xs:element name="season" type="xs:string" />
            <xs:element name="match_week" type="xs:int" nillable="true"/>
            <xs:element name="match_date" type="xs:date" nillable="true"/>
            <xs:element name="kickoff_time" type="xs:string" />
            <xs:element name="homeTeam" type="xs:string" />
            <xs:element name="awayTeam" type="xs:string" />
            <xs:element name="home_score" type="xs:int" nillable="true" />
            <xs:element name="away_score" type="xs:int" nillable="true" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getTeamRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="teamName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTeamResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="teamDetails" type="tns:teamDetails"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOwnerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="teamName" type="xs:string"/>
                <xs:element name="ownerName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOwnerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="teamDetails">
        <xs:sequence>
            <xs:element name="team_id" type="xs:long" />
            <xs:element name="teamName" type="xs:string" />
            <xs:element name="venue" type="xs:string" />
            <xs:element name="ownerName" type="xs:string" />
            <xs:element name="logo_url" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getAllDataRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllDataResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="databaseResponseType" type="tns:databaseResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="databaseResponseType">
    <xs:sequence>
      <xs:element name="matches" type="tns:matchesType" minOccurs="0"/>
      <xs:element name="team" type="tns:teamsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="matchesType">
    <xs:sequence>
      <xs:element name="match" type="tns:matchDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="teamsType">
    <xs:sequence>
      <xs:element name="team" type="tns:teamDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

